body{
    background-color: rgb(161, 161, 161);
    margin: 0px;
    isolation:  isolate;
}
body::after{
    content: '';
    background-image: url("./images/5651999.jpg");
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.4;
}

.headerContainer{
    color: rgb(219, 219, 219);
    isolation: isolate;
    position: relative;
  
}
.headerContainer::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.7;

}

.header{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
    
}
#welcomingHead{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-family: sans-serif;

}
h1{
    margin-bottom: -5px;
}
.underline{
    background-color: rgb(13, 105, 148);
    height: 5px;
    width: 250px;
    position: relative;
    margin: auto;
    border-radius: 5px;
}
.menuOptions{
    height: 60px;
    margin: 20px;
    margin-top: 30px;
    
}
.htmlTag{
    background-image: url('./images//html-code-tag-icon-white-260nw-1063874399.jpg');
    background-size: cover;
    background-color: brown;
    width: 3rem;
    height: 3rem;
    border-radius: 2px;
    display: inline-block;
}
.options{
    display: inline;
    position: relative;
    margin: 30px;
}
 .options ul{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: rgb(255, 255, 255);
    right: 50px;
    float: right;
    padding: 20px;
    border-radius: 5px;
    transition: 1.2s;
    margin: 5px;
    
}
 .options ul:hover{
    background-color: rgb(4, 139, 45);
    color: beige;
    
}
.AboutMeClass{
    font-family: cursive;
    font-size: 15px;
    display: block;
    text-align: center;
    position: relative;
    background-color: rgb(9, 81, 190);
    color: blanchedalmond;
     isolation: isolate;
     padding: 20px;
     margin: 0px;
}
.AboutMeClass::after{
    content: '';
    background-image: url("./images/programming-wallpaper11-700x394.jpg");
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.7;
}
#about{
    padding-top: 30px;
    color: rgb(231, 231, 231);
}
.AboutMeClass div{
     display: inline-block;
     margin-left: 80px;
     text-align: start;
     
}
.profileImage{
    height: 300px;
    width: 300px;
    background-color: darkcyan;
    background-image: url("./images/IMG-20221213-WA0077_1.jpg");
    background-size: cover;
    border-radius: 30px;
}
.hobies{
    display: block;
    height: 300px;
    width: 600px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 500px;
    position: relative;
}
.hobieLists{
    display: inline-block;
    width: 300px;
    height: 250px;
    
    
}
.instrument{
    background-image: url('./images/istockphoto-1366833276-612x612.jpg');
    background-size: cover;
    opacity: 0.8;
    width: 230px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    
}
.openCvButton{
    display: block;
    margin: auto;
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(245, 39, 39);
    color: aliceblue;
    border: none;
    transition: 0.8s;
}
.openCvButton:hover{
    cursor: pointer;
    background-color: aliceblue;
    color:rgb(245, 39, 39) ;
}
.servicesHeader{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin-bottom: 3rem;
}
.services{
   display: block;
   background-color: rgb(182, 182, 182);
   isolation: isolate;
   text-align: center;
   position: relative;
   margin: 10px;
   padding: 20px;
   color: rgb(228, 228, 228);
}
.services::after{
    content: '';
    background-image: url('./images/5651981.jpg');
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
}
.servicesProvided{
    height: 15rem;
    width: 15rem;
    background-color: rgb(224, 224, 224);
    display: inline-block;
    text-align: center;
    margin: auto;
    isolation: isolate;
    position: relative;
    vertical-align: middle;
    margin-left: 2rem;
    margin-right: 2rem;
}
.servicesProvided::after{
    content: '';
    background-color: azure;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.2;
}
.serviceContain{
    display: block;
    margin: 3rem;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    
}
#firstService{
    background-image: url('./images/html-code-tag-icon-white-260nw-1063874399.jpg');
    background-size: cover;
}
#secondService{
    background-image: url('./images/pexels-photo-6633920.jpeg');
    background-size: cover;
    
}

/*educational styling*/
.educationalClass{
    font-family: sans-serif;
    text-align: center;background-color: rgb(180, 180, 180);
    font-style: oblique;
    color: azure;
}
.projectClass{
    margin: auto;
    width: 30rem;
    height: max-content;
    padding: 2rem;
    text-decoration: underline;

}
.digitalImage{
    position: relative;
    margin: auto;
    background-color: bisque;
    height: 300px;
    width: 300px;

}
.email{
    width: 20rem;
    height: 30px;
    border: none;
    text-align: center;
    margin: 20px;

}
.message{
    height: 200px;
    width: 20rem;
    border: none;
    text-align: center;
    margin-bottom: 20px;
}